*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}


html{
    font-size: 10px;
    background-color: #f7f7ff;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #f0f0f0; */
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f7f7ff;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.127), -10px -10px 10px rgba(0, 0, 0, 0.127);
    border-radius: 2.5rem;
    padding: 0.5rem;
    position: relative;
    z-index: 30;
}

.svg1{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.svg2{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.sec1{
    /* background-color: aqua; */
    flex: 1;
    font-family:   sans-serif, monospace;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.heading{
    font-size: 3.5rem;
    font-weight: 800;
    color: hsl(233, 13%, 49%);
  
}

.sec2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.0rem;
    margin-top: 10px;
}
.sec3{
    flex: 6;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
}

.monthly, .anually{
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* color: rgba(0, 0, 0, 0.477); */
    color: hsl(234, 14%, 74%);
    letter-spacing: 0.2px;

}



.box{
    height: 60vh;

    display: flex;
    z-index: 10;
    flex-wrap: wrap;
    width: 65%;

}
.b{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.b1{
    width: 100%;
    height: 55vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.143);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 5.0rem;
    padding-right: 5.0rem; */
    padding : 5rem 5rem;
}

.con1{
    width: 100%;
    height: 53vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.0rem;
    /* background-color: #8e92eb; */
}

 hr{
    border-color: rgba(0, 0, 0, 0.099);
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}

.header{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    flex: 1;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.592);
    display: flex;
    justify-content: center;
    align-items: end;
    /* margin-bottom: 15px; */
}

.price{
    flex: 2;
    font-size: 6.0rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* color: rgba(0, 0, 0, 0.592); */
      color: hsl(232, 13%, 33%);
}

.dtail{
    flex: 1;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.564);
    font-weight: 700;
    font-size: 1.6rem;

}

.learn{
    flex: 1;
    font-family: "Montserrat", sans-serif;
    margin-top: 1.5rem;
}
button{
    height: 80%;
    width: 100%;
    background: linear-gradient(90deg,#a0a4ec,#6a6fd9);
    border: none;
    border-radius: 1.0rem;
    color: white;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



.mid{
    background: linear-gradient(180deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 8px #8e93eb5c;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 10; */
}

.dollar{
    font-size: 4.0rem;
    margin-right: 0.8rem;
}









/* media queries*/

@media (max-width: 1550px) {
    .box{
        gap: 2.0rem;
    }
    .sec3{
        align-items: start;
    }
    .container{
        height: 170vh;
        box-shadow: none;
    }
    .b1{
        height: 60vh;
    }

}


@media (max-width : 966px) {
    .sec1, .sec2, .sec3{
        flex: 0;
    }
    .sec1{
        margin-top: 2.0rem;
    }
    .sec2{
        margin-top: 2.0rem;
        margin-bottom: 2.0rem;
    }
    .container{
        height: 165vh;
        box-sizing: border-box;
        padding-left: 2.0rem;
        padding-right: 2.0rem;
    }
}

@media (max-width : 535px) {
    html{
        font-size: 0.5rem;
    }
    .price{
        font-size: 5rem;
    }
    .dollar{
        font-size: 3rem;
    }
    .container{
        height: 165vh;
        width: 40.0rem;
        box-sizing: border-box;
        padding-left: 2.0rem;
        padding-right: 2.0rem;
    }
    .box{
        width: 100%;
    }
}






















/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #2196F3;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #2196F3;
  
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
